html,
body {
  height: 100%;
}

#app {
  height: 100%;
}

[v-cloak] {
  display: none;
}

// 字体
@font-face {
  font-family: 'PingFangSC';
  src: local('PingFangSC'), url(../assets/fonts/PingFangSC.ttf) format('truetype');
}

button:focus {
  outline: none;
}
