@import './common';
@import './layout';

html,
body {
  color: $text-primary;
  font-family: 'PingFangSC';
}

.login {
  padding: 20px;
  font-family: 'PingFangSC';
}

.is-mobile {
  .layout-menu {
    width: unset !important;
  }
  .el-submenu {
    .el-icon-arrow-right,
    .link-item-title {
      display: none;
    }
    .link-item {
      display: block;
    }
  }
}
